@model ShampanExam.Models.QuestionVM.ExamVM
@{
    ViewBag.Title = "Exam List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Self Exam List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header p-2">
            <button type="button" title="Add New" data-url="/Questions/Exam/SelfCreate" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>
            @*<button type="button" title="Add New" data-url="/Questions/Exam/RandomCreate" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>*@
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                List Of Self Exams
            </h3>
        </div>
        <div class="card-body">
            <div id="GridDataListRandom"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/Questions/js/Controllers/RandomExamController.js"></script>

    <script>
        $(document).ready(function () {
            RandomExamController.init();
        });
    </script>
}
