@model ShampanExam.Models.UserProfileVM
@{
    ViewBag.Title = "User Profile Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> User Profile List </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @*<li class="breadcrumb-item"><a href="/SetUp/UserProfile/Index">Index</a></li>
                    <li class="breadcrumb-item active">Index</li>*@
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="card">
        <div class="card-header p-2">
            <button type="button" title="Add New" data-url="/SetUp/UserProfile/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                List Of Data
            </h3>
        </div>
        <div class="card-body">
            <div id="GridDataList"></div>
        </div>
    </div>
</div>


@section scripts{

    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/SetUp/js/Controller/UserProfileController.js"></script>

    <script>
        $(document).ready(function () {

            UserProfileController.init();
        });

    </script>


}


