<div class="modal-dialog draggable modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"> Measurement Data List </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <table class="table table-bordered  table-sm table-hover full-width" id="modalData">
                <thead>
                    <tr>
                        <th hidden>Id</th>
                        <th hidden>Category</th>
                        <th hidden>UomId</th>
                        <th hidden>UomName</th>
                        <th hidden>Item Code</th>
                        <th>Item Name</th>
                        <th>Name (Bangla)</th>
                        <th hidden>Article No</th>
                        <th hidden>Description</th>
                        <th hidden class="text-right">Cost Price</th>
                        <th hidden class="text-right">Sales Price</th>
                        <th hidden class="text-right">Sales Discount</th>
                        <th class="text-right">Making Charge</th>
                        <th class="text-right">Making Discount</th>
                        <th hidden >Include VAT</th>
                        <th class="text-right">VAT Rate</th>
                        <th class="text-right">SD Rate</th>
                        <th class="text-right">Stock In Hand</th>
                        <th class="text-right">Low Stock Alert</th>
                        <th hidden>Image Path</th>
                        <th hidden>Remarks</th>
                    </tr>
                </thead>
                <tbody id="modalDataList" class="cursorHand">
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
