<div class="modal-dialog draggable modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"> UOM Conversion Data List </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <table class="table table-bordered  table-sm table-hover full-width" id="modalData">
                <thead>
                    <tr>
                        <th hidden>UOMId</th>
                        <th>UOM FromName</th>
                        <th>UOM Conversion</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="modalDataList" class="cursorHand">
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>